<template>
  <div class="modal fade show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ title }}
          </h5>
          <button
            type="button"
            class="close"
            aria-label="Close"
            @click="closeModal"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" ref="modalBody" @scroll="onScroll">
          <slot></slot>
        </div>

        <div class="modal-footer">
          <slot name="footer">
            <button type="button" class="btn btn-secondary" @click="closeModal">
              Отмена
            </button>
            <button
              type="button"
              class="btn btn-primary"
              :disabled="!isRulesReaded"
            >
              Принять
            </button>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import ScrollHandler from "../../mixins/scrollHandler"; вынесли в simple plugins
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
  },
  emits: {
    close: null,
  },
  // mixins: [ScrollHandler], вынесли в simple plugins

  data() {
    return {
      isRulesReaded: false,
    };
  },
  beforeCreate() {
    console.log("beforeCreate");
  },
  created() {
    this.$log();
  },

  mounted() {
    const modalBody = this.$refs.modalBody;
    console.log(modalBody);
    // modalBody.scrollTop = modalBody.scrollHeight - modalBody.clientHeight;
  },
  methods: {
    closeModal() {
      this.$emit("close");
    },

    onScrollEnd() {
      this.isRulesReaded = true;
    },

    // onBodyScroll() {
    //   this.isRulesReaded = true;

    //   const modalBody = this.$refs.modalBody;
    //   if (
    //     modalBody.clientHeight + modalBody.scrollTop >=
    //     modalBody.scrollHeight
    //   ) {
    //     this.isRulesReaded = true;
    //   }
    // },
  },
};
</script>

<style lang="scss" scoped>
.modal {
  display: block;
  &-body {
    height: 200px;
    overflow-y: scroll;
  }
}
</style>
