<template>
  <div class="product">
    <p>Выберите кол-во продуктов:</p>
    <button type="button" @click="minusProduct">-</button>
    <input type="number" :value="countProduct" />
    <button type="button" @click="plusProduct">+</button>
  </div>
</template>

<script>
export default {
  name: "CountProduct",
  data() {
    return {
      countProduct: 0,
      maxCount: 10,
      minCount: 0,
    };
  },
  methods: {
    plusProduct() {
      if (this.countProduct < this.maxCount) this.countProduct += 1;
    },

    minusProduct() {
      if (this.countProduct > this.minCount) this.countProduct -= 1;
    },
  },
};
</script>

<style></style>
