<template>
  <input
    type="text"
    v-model="myInputValue"
    class="search"
    @input="updatedInput(myInputValue)"
  />
</template>

<script>
export default {
  model: {
    prop: "modelValue",

    event: "update:modelValue", // событие которое слушает
  },

  emits: {
    "update:modelValue": (value) => typeof value === "string",
  },

  data() {
    return {
      myInputValue: "",
    };
  },

  methods: {
    updatedInput(value) {
      this.$emit("update:modelValue", value);
    },
  },
};
</script>

<style lang="scss" scoped>
input {
  height: 25px;
  margin-left: 40px;
}
</style>
