<template>
  <div class="container">
    <div class="flex">
      <div class="img-wrapper">
        <img
          v-if="isCatVisible"
          :class="imageFilters"
          :style="imgStyles"
          src="../assets/images/cat.jpg"
        />
        <p v-else>Кот скоро вернется</p>
      </div>
      <div class="controls">
        <h1>Шаверма-кот</h1>
        <h2>Фильтры</h2>
        <div class="btn-group flex">
          <button
            type="button"
            :class="{ active: imageFilters.sepia }"
            @click="imageFilters.sepia = !imageFilters.sepia"
          >
            Сепия
          </button>
          <button
            type="button"
            :class="imageFilters.border ? 'active' : ''"
            @click="imageFilters.border = !imageFilters.border"
          >
            Рамка
          </button>
          <button
            type="button"
            :class="{ active: imageFilters.small }"
            @click="imageFilters.small = !imageFilters.small"
          >
            Уменьшить {{ imageFilters.small }}
          </button>
          <button
            type="button"
            :class="{ active: imageFilters.shadow }"
            @click="changeStyle('shadow')"
          >
            Тень
          </button>
        </div>
        <h2>Размер</h2>
        <div class="btn-group">
          <label>
            Ширина: {{ imgSizes.currentWidth }}
            <input
              type="range"
              :value="imgSizes.currentWidth"
              @input="imgSizes.currentWidth = $event.target.value"
              :max="imgSizes.maxWidth"
            />
          </label>
          <label>
            Высота: {{ imgSizes.currentHeight }}
            <input
              type="range"
              v-model="imgSizes.currentHeight"
              :min="imgSizes.mixHeight"
              :max="imgSizes.maxHeight"
            />
          </label>
          <label>
            Угол: {{ imgRotate.current }}
            <input
              type="range"
              v-model="imgRotate.current"
              :max="imgRotate.max"
              :min="imgRotate.min"
            />
          </label>
        </div>

        <button @click="isCatVisible = !isCatVisible">
          Показать / спрятать
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PhotoRedactor",
  data() {
    return {
      isCatVisible: true,
      imageFilters: {
        serpia: false,
        border: false,
        small: false,
        shadow: false,
      },
      imgSizes: {
        maxWidth: 640,
        maxHeight: 480,
        currentWidth: 640,
        currentHeight: 480,
      },
      imgRotate: {
        max: 360,
        min: 0,
        current: 360,
      },
    };
  },

  watch: {
    "imageFilters.small": function (newVal, oldVal) {
      this.imageFilters.small = newVal;
      this.changeSize(this.imageFilters.small);
    },

    imageFilters: {
      handler(val, oldVal) {
        console.log(val);
        console.log(oldVal);
      },
      deep: true,
    },
  },
  methods: {
    changeStyle(value) {
      this.imageFilters[value] = !this.imageFilters[value];
      this.imageFilters[value];
    },
    changeSize(value) {
      if (value) {
        (this.imgSizes.currentWidth = 440), (this.imgSizes.currentHeight = 280);
      } else {
        (this.imgSizes.currentWidth = 640), (this.imgSizes.currentHeight = 480);
      }
    },
  },
  computed: {
    imgStyles() {
      return {
        width: `${this.imgSizes.currentWidth}px`,
        height: `${this.imgSizes.currentHeight}px`,
        transform: `rotate(${this.imgRotate.current}deg)`,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  margin-top: 40px;
}
.controls {
  margin-left: 20px;
}
.img-wrapper {
  width: 640px;
  height: 480px;
  background-color: #cecece;
}
img {
  transition: 0.2s ease;
  &.sepia {
    filter: sepia(100%);
  }
  &.border {
    border: 5px dashed #464646;
  }
  &.shadow {
    box-shadow: 7px 7px 10px 0 #7e7e7e;
  }
  &.small {
    width: 400px;
  }
}
button {
  margin-right: 10px;
  &.active {
    background-color: #dbdbdb;
  }
}
h2 {
  margin-bottom: 10px;
}
.btn-group {
  margin-bottom: 20px;
}
input[type="range"] {
  display: block;
}
</style>
