<template>
  <div class="product-list">
    <div class="flex top-information">
      <h1>Письменные столы</h1>
      <my-input v-model="searchText" />
      {{ searchText }}
      <search-field @search="searchProduct" />
    </div>

    <ul class="list-default flex">
      <li v-for="(product, index) in products" :key="index">
        <product-card
          :title="product.title"
          :price="product.price"
          :img-url="product.imgUrl"
          :count="product.count"
          @addToBasket="addToBasket"
        />
      </li>
    </ul>
  </div>
</template>

<script>
import ProductCard from "./ProductCard.vue";
import MyInput from "./MyInput.vue";
import SearchField from "./SearchField.vue";

export default {
  name: "ProductList",
  components: { ProductCard, MyInput, SearchField },
  data() {
    return {
      searchText: "",
      products: [
        {
          title: "Стол Jim",
          price: 19999,
          imgUrl:
            "https://hoff.ru/upload/iblock/79a/79a099dccc8bf6235e78fff74faa1fa8.jpg",
          count: 30,
        },
        {
          title: "Стол Monako",
          price: 17199,
          imgUrl:
            "https://hoff.ru/upload/iblock/79a/79a099dccc8bf6235e78fff74faa1fa8.jpg",
          count: 20,
        },
        {
          title: "Стол с двумя ящиками Кварт MD 768",
          price: 10999,
          imgUrl:
            "https://hoff.ru/upload/iblock/79a/79a099dccc8bf6235e78fff74faa1fa8.jpg",
          count: 23,
        },
      ],
    };
  },
  methods: {
    addToBasket(objectByEmit) {
      console.log(objectByEmit);
    },
    searchProduct(searchText) {
      console.log("Нужно найти товары:", searchText);
    },
  },
};
</script>

<style lang="scss" scoped>
li {
  margin-right: 20px;
}
.top-information {
  align-items: center;
  h1 {
    margin-bottom: 0;
  }
  button {
    background-color: rgb(221, 56, 56);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 14px;
    display: block;
    cursor: pointer;
    margin-left: 10px;
  }
  margin-bottom: 22px;
}
</style>
