<template>
  <div :class="{ error: v$.form.$errors.length }">
    <form
      v-if="!registrationPassed"
      class="sign-up"
      @submit.prevent="checkForm"
    >
      <div class="form-group">
        <label for="login">Логин:</label>
        <input
          id="login"
          class="form-control"
          :class="v$.form.login.$error ? 'is-invalid' : ''"
          v-model.trim="form.login"
        />
        <p
          v-if="v$.form.login.$dirty && v$.form.login.required"
          class="invalid-feedback"
        >
          Обязательное поле
        </p>
        <p
          v-if="v$.form.login.$dirty && v$.form.login.minLength"
          class="invalid-feedback"
        >
          Здесь должно быть больше 5-и символов
        </p>
      </div>
      <div class="form-group">
        <label for="email">Почта:</label>
        <input
          id="email"
          type="email"
          autocomplete="email"
          class="form-control"
          :class="v$.form.email.$error ? 'is-invalid' : ''"
          v-model.trim="form.email"
        />
        <p
          v-if="v$.form.login.$dirty && v$.form.email.required"
          class="invalid-feedback"
        >
          Обязательное поле
        </p>
        <p
          v-if="v$.form.email.$dirty && v$.form.email.email"
          class="invalid-feedback"
        >
          Email неккоректный
        </p>
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input
          id="password"
          type="password"
          autocomplete="current-password"
          class="form-control"
          v-model.trim="form.password"
          :class="v$.form.password.$error ? 'is-invalid' : ''"
        />
        <p
          v-if="v$.form.password.$dirty && v$.form.password.required"
          class="invalid-feedback"
        >
          Обязательное поле
        </p>
      </div>
      <div class="form-group">
        <label for="country">Страна проживания:</label>
        <select id="country" class="form-control" v-model="form.currentCountry">
          <option
            v-for="(country, index) in countries"
            :key="index"
            :value="country.value"
          >
            {{ country.label }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="themes">Любимые темы:</label>
        <select
          id="themes"
          class="form-control"
          v-model="form.currentThemes"
          multiple
          :class="v$.form.currentThemes.$error ? 'is-invalid' : ''"
        >
          <option v-for="(theme, index) in themes" :key="index">
            {{ theme.label }}
          </option>
        </select>
        <p
          v-if="v$.form.currentThemes.$dirty && v$.form.currentThemes.maxCount"
          class="invalid-feedback"
        >
          Не больше 3-х тем
        </p>
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          :class="{ 'is-invalid': v$.form.agreeWithSendEmail.$error }"
          id="agreeWithSendEmail"
          v-model="form.agreeWithSendEmail"
        />
        <label class="form-check-label" for="agreeWithSendEmail">
          C правилами согласен</label
        >
        <p
          v-if="
            v$.form.agreeWithSendEmail.$dirty &&
            v$.form.agreeWithSendEmail.mustBeTrue
          "
          class="invalid-feedback"
        >
          Прочтите правила !
        </p>
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="notification-1"
          value="notification-1"
          v-model="form.agreeOther"
        />
        <label class="form-check-label" for="notification-1"
          >Уведомлять меня об акциях</label
        >
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="notification-2"
          value="notification-2"
          v-model="form.agreeOther"
        />
        <label class="form-check-label" for="notification-2"
          >Уведомлять меня о скидках</label
        >
      </div>
      <div class="flex">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            value="male"
            name="exampleRadios"
            id="male"
            v-model="form.gender"
          />
          <label class="form-check-label" for="male"> Мужчина </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            value="female"
            name="exampleRadios"
            id="female"
            v-model="form.gender"
          />
          <label class="form-check-label" for="female"> Женщина </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <div v-else>
      <h1>
        {{ `${form.login}, поздравляем вы успешно зарегистрированы!` }}
      </h1>
    </div>
  </div>
</template>

<script>
import { useVuelidate } from "@vuelidate/core";
import { required, email, minLength } from "@vuelidate/validators";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      registrationPassed: false,
      form: {
        login: "",
        email: "",
        password: "",
        currentCountry: "USA",
        currentThemes: ["IT"],
        agreeWithSendEmail: false,
        agreeOther: [],
        gender: "male",
      },

      countries: [
        {
          label: "Россия",
          value: "Russia",
        },
        {
          label: "Украина",
          value: "Ukraine",
        },
        {
          label: "США",
          value: "USA",
        },
      ],
      themes: [
        {
          label: "Технологии",
          value: "IT",
        },
        {
          label: "Языки",
          value: "languages",
        },
        {
          label: "Математика",
          value: "mathematics",
        },
        {
          label: "История",
          value: "history",
        },
      ],
    };
  },
  validations() {
    return {
      form: {
        login: { required, minLength: minLength(5) },
        email: { required, email },
        password: { required },
        agreeWithSendEmail: {
          mustBeTrue(value) {
            return value;
          },
        },
        currentThemes: {
          maxCount(value) {
            console.log(value.length <= 3);
            return value.length <= 3;
          },
        },
      },
    };
  },

  methods: {
    checkForm() {
      this.v$.form.$touch();
      if (!this.v$.form.$error) {
        console.log("Валидация прошла успешно");
        this.registrationPassed = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.form-control {
  width: 400px;
}
.form-check {
  margin-right: 10px;
}
button {
  margin-top: 15px;
}
</style>
