<template>
  <div class="conatiner">
    <h2>Я найду тебя!</h2>
    <input type="text" v-model="searchText" />
    <!-- <input type="text" @input="searchText = $event.target.value" /> -->
    <p>Всего имен: {{ names.length }}, {{ findUsers.length }}</p>
    <ul class="list">
      <li v-for="(name, index) in findUsers" :key="index">
        {{ index + 1 }} {{ name }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "UsersSearch",
  data() {
    return {
      searchText: "",
      names: ["Данил", "Василий", "Дмитрий", "Григорий", "Максим"],
    };
  },
  computed: {
    findUsers() {
      return this.names.filter((name) =>
        name.toLowerCase().includes(this.searchText.toLowerCase())
      );
    },
  },
};
</script>

<style lang="scss" scoped>
h2 {
  margin-bottom: 14px;
  margin-top: 40px;
}
</style>
