<template>
  <div
    name="auth-modal"
    class="auth-modal"
    height="350px"
    width="500px"
    @before-close="close"
  >
    <form @submit.prevent="formSubmit">
      <h3>{{ isSignInForm ? "Войти" : "Зарегистрироваться" }}</h3>
      <div class="mb-3">
        <label class="form-label">
          Email
          <input
            type="text"
            class="form-control"
            placeholder="Ваша эл. почта"
            v-model="form.email"
          />
        </label>
      </div>
      <label class="form-label">
        Пароль
        <input
          type="password"
          class="form-control"
          placeholder="Ваш пароль"
          v-model="form.password"
        />
      </label>
      <a href="#" @click.prevent="mode = isSignInForm ? 'signUp' : 'signIn'">
        {{ isSignInForm ? "Регистрация" : "Вход" }}
      </a>
      <div class="actions">
        <button
          type="button"
          class="btn btn-outline-dark"
          @click="$emit('close')"
        >
          Отмена
        </button>
        <button type="submit" class="btn btn-dark">Подтвердить</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "auth-modal",
  data() {
    return {
      mode: "signIn",
      form: {
        email: "test@test.com",
        password: "12345678",
      },
      errors: [],
    };
  },
  computed: {
    isSignInForm() {
      return this.mode === "signIn";
    },
  },
  mounted() {
    // console.log(this);
    // this.$modal.show("auth-modal"); // dont work
  },
  methods: {
    changeUserState() {
      if (this.auth) {
        localStorage.removeItem("auth");
        this.$router.push({ name: "main" });
      } else {
        localStorage.setItem("auth", true);
        this.auth = true;
      }
    },
    close() {
      this.$emit("close");
      this.$router.push({ name: "films" });
    },
    formSubmit() {
      if (this.isSignInForm) {
        this.signIn();
      } else {
        this.signUp();
      }
    },
    signIn() {
      this.$load(async () => {
        const data = (
          await this.$api.auth.signIn({
            user: {
              email: this.form.email,
              password: this.form.password,
            },
          })
        ).data;
        // JSON.stringify(data) - приведем к строке так как
        localStorage.setItem("user", JSON.stringify(data)); // localStorage все хранит в виде строки
        this.$store.dispatch("user/setUser", { data });
        console.log("vuex", this.$store.getters["user/getUser"]);
        this.$emit.close;
        this.$router.push({ name: "films" });
      });
    },
    signUp() {
      this.$load(async () => {
        const data = (
          await this.$api.auth.signUp({
            user: {
              email: this.form.email,
              password: this.form.password,
              password_confirmation: this.form.password,
            },
          })
        ).data;
        localStorage.setItem("user", JSON.stringify(data));
        this.$store.dispatch("user/setUser", data);
        console.log("vuex", this.$store.getters["user/getUser"]);
        this.$emit("close");
        this.$router.push({ name: "films" });
      });
    },
  },
};

//используя метод fetch
// async signIn() {
//       try {
//         const res = await fetch("http://localhost:3000/users/sign_in", {
//           method: "POST",
//           headers: {
//             Accept: "application/json",
//             "Content-Type": "application/json",
//           },
//           body: JSON.stringify({
//             user: {
//               email: this.form.email,
//               password: this.form.password,
//             },
//           }),
//         });
//         const data = await res.json();
//         if (res.status === 200 || res.status === 201) {
//           localStorage.setItem("user", JSON.stringify(data)); // localStorage все хранит в виде строки
//           this.$store.dispatch("user/setUser", { data });
//           console.log("vuex", this.$store.getters["user/getUser"]);
//           this.$emit.close;
//         } else {
//           this.errors = data;
//           console.log(data);
//         }
//       } catch (error) {
//         console.log(error);
//       }
//     },
</script>

<style lang="scss" scoped>
.auth-modal {
  padding: 30px 40px;
  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    h3 {
      margin-bottom: 30px;
    }
    label {
      width: 100%;
      margin-bottom: 20px;
    }
    .actions {
      margin-top: auto;
      display: flex;
      align-items: baseline;
      a {
        color: #eb5804;
      }
      button {
        width: 130px;
        margin-left: 10px;
        &:first-of-type {
          margin-left: auto;
        }
      }
    }
  }
}
</style>
