<template>
  <div class="films-page container">
    <h2>Выбери фильм на свой вкус</h2>
    <films-list :films="films" />
  </div>
</template>

<script>
import FilmsList from "../components/step_8/FilmsList";
// import films from "../mocks/films"; // получит с серера

export default {
  components: { FilmsList },
  data() {
    return {
      // films,
      films: [],
    };
  },
  created() {
    this.$load(async () => {
      this.films = (await this.$api.films.getAll()).data;
    });
    // через fetch и then
    // fetch("http://localhost:3000/api/v1/films")
    //   .then((response) => response.json())
    //   .then((json) => (this.films = json));
  },
};
//  async signIn() {
//       try {
//         const res = await fetch("http://localhost:3000/users/sign_in", {
//           method: "POST",
//           headers: {
//             Accept: "application/json",
//             "Content-Type": "application/json",
//           },
//           body: JSON.stringify({
//             user: {
//               email: this.form.email,
//               password: this.form.password,
//             },
//           }),
//         });
//         const data = await res.json();
//         if (res.status === 200 || res.status === 201) {
//           localStorage.setItem("user", JSON.stringify(data)); // localStorage все хранит в виде строки
//           this.$store.dispatch("user/setUser", { data });
//           console.log("vuex", this.$store.getters["user/getUser"]);
//           this.$emit.close;
//         } else {
//           this.errors = data;
//           console.log(data);
//         }
//       } catch (error) {
//         console.log(error);
//       }
//     },
</script>

<style lang="scss" scoped>
h2 {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 30px;
}
</style>
