<template>
  <div class="films-layout">
    <main-header />
    <router-view></router-view>
  </div>
</template>

<script>
import MainHeader from "../components/step_8/MainHeader.vue";
import { mapActions } from "vuex";

export default {
  components: { MainHeader },

  methods: {
    // ...mapActions(["loadReactions"]),

    ...mapActions({
      load: "loadReactions",
    }),
  },
  created() {
    this.load(1000); // сокращенная запись доступна так как использется mapActions
    // this.$store.dispatch("loadReactions", 5000); // 5000 время задержки
  },
};
</script>
