<template>
  <div class="main-page">
    <h1>Онлайн кинотеатр</h1>

    <button
      type="button"
      class="btn btn-outline-light"
      @click="$router.push({ name: 'films' })"
    >
      Перейти к фильмам
    </button>

    <router-link :to="{ name: 'films' }" class="btn btn-outline-light">
      Перейти к фимьмам запись через router-link
    </router-link>

    <button
      type="button"
      class="btn btn-outline-light"
      @click="$router.push('/films')"
    >
      Перейти к фимьмам запись через "$router.push('/films')"
    </button>
  </div>
</template>

<script>
export default {
  name: "MainPage",
};
</script>

<style lang="scss" scoped>
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  h1 {
    color: #f8f8f8;
    font-size: 70px;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}
</style>
